<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link th:href="@{/css/floating-labels.css}" rel="stylesheet">

  <title>Login</title>
</head>

<body>

<form class="form-signin" th:action="@{/account/login}" method="post">
  <div class="text-center mb-4">
    <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"></a>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  </div>

  <div th:if="${param.error}" class="alert alert-danger" role="alert">
    유효하지 않은 ID, PASSWORD 입니다.
  </div>
  <div th:if="${param.logout}" div class="alert alert-info" role="alert">
    로그아웃이 되었습니다.
  </div>

  <div class="form-label-group">
    <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
    <label for="userName">username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
  <a class="btn btn-lg btn-primary btn-block" th:href="@{/account/register}">회원가입</a>

</form>
<footer th:replace="fragmets/common :: footer"></footer>
</body>

</html>